body{
    background-color:black;
}
.text{
    color:white;
}

#title{
    text-align: center;
}

#subtitle{
    margin: 20px;
}

#btn{
    width: 100px;
    position:absolute; left: 75px; top: 900px;
    background-color: black;
}

#btn:hover{
    background-color: yellow;
    transition: background 0.3s;
}
